# Dependency directories
node_modules/

# dotenv environment variables file
.env

# IDE related files
.idea/

# Report folders
mochawesome-report/

# TS compile
dist/

# Credentials folder
credentials/

# Downloads folder
downloads/
